body{
    padding-left: 30px;
    padding-right: 10px;

}
.heading{
    width: 500px;
    height: 180px;
    padding: 190px;
    padding-left: 5%;
    padding-right: 20%;
    border: 2px solid rgb(44, 110, 44);
    border-radius: 10px;
    background-color:rgb(22, 201, 118);
    text-align:left;
    margin-top: 70px;
    margin-left: 230px;
    font-size:20px;
        
}
h1{
    font-size: 50px;
    text-align: top;
}
#menu {
    border: 2px white;
    border-radius: 20px;
    height: 50px;
    width: 300px;
}
h3{
    font-weight: bold;
    font-size: 15px;
}